In [5]:
import pandas as pd
import pandas as pd
df = pd.DataFrame({ "A":[14, 3, 3, None, 1],
                    "B":[5, 6, 34, 23, None],
                    "C":[8 , 9, 1, 13, 52],
                    "D":[5, 5, None, 77, 99]})
index_ = ['row1', 'row2', 'row3', 'row4', 'row5']
# Set the index
df.index = index_
df

         A     B   C     D
row1  14.0   5.0   8   5.0
row2   3.0   6.0   9   5.0
row3   3.0  34.0   1   NaN
row4   NaN  23.0  13  77.0
row5   1.0   NaN  52  99.0

In [7]:
result = df.transform(func= lambda x : x + 13)
result

         A     B   C      D
row1  27.0  18.0  21   18.0
row2  16.0  19.0  22   18.0
row3  16.0  47.0  14    NaN
row4   NaN  36.0  26   90.0
row5  14.0   NaN  65  112.0

In [8]:
import pandas as pd
import pandas as pd
df = pd.DataFrame({ "A":[14, 3, 3, None, 1],
                    "B":[5, 6, 34, 23, None],
                    "C":[8 , 9, 1, 13, 52],
                    "D":[5, 5, None, 77, 99]})
index_ = ['row1', 'row2', 'row3', 'row4', 'row5']
# Set the index
df.index = index_
df

         A     B   C     D
row1  14.0   5.0   8   5.0
row2   3.0   6.0   9   5.0
row3   3.0  34.0   1   NaN
row4   NaN  23.0  13  77.0
row5   1.0   NaN  52  99.0

In [9]:
result = df.transform(func = ['sqrt','exp'])
result

             A                       B                       C                \
          sqrt           exp      sqrt           exp      sqrt           exp
row1  3.741657  1.202604e+06  2.236068  1.484132e+02  2.828427  2.980958e+03
row2  1.732051  2.008554e+01  2.449490  4.034288e+02  3.000000  8.103084e+03
row3  1.732051  2.008554e+01  5.830952  5.834617e+14  1.000000  2.718282e+00
row4       NaN           NaN  4.795832  9.744803e+09  3.605551  4.424134e+05
row5  1.000000  2.718282e+00       NaN           NaN  7.211103  3.831008e+22

             D
          sqrt           exp
row1  2.236068  1.484132e+02
row2  2.236068  1.484132e+02
row3       NaN           NaN
row4  8.774964  2.758513e+33
row5  9.949874  9.889030e+42

In [10]:
text = 'thiS iS aN pYThon cLAsS'
print(text.lower())

print(text.title())

print(text.swapcase())

print(text.capitalize())

this is an python class
This Is An Python Class
THIs Is An PytHON ClaSs
This is an python class