In [2]:
import pandas as pd
arr = [4,6,7,8,9,5]
series_obj = pd.Series(arr)
a = series_obj.values
a

array([4, 6, 7, 8, 9, 5], dtype=int64)

In [3]:
reshaped_arr = a.reshape((3,2))
reshaped_arr

array([[4, 6],
       [7, 8],
       [9, 5]], dtype=int64)

Given Series:
 0      sone
1      monu
2    ankita
3     angel
4      rani
5      riya
dtype: object

array(['sone', 'monu', 'ankita', 'angel', 'rani', 'riya'], dtype=object)

In [7]:
nameList = ["sone","monu","ankita","angel","rani","riya"]
obj= pd.Series(nameList)
print("Given Series:\n", obj)
arr = obj.values
arr

Given Series:
 0      sone
1      monu
2    ankita
3     angel
4      rani
5      riya
dtype: object

array(['sone', 'monu', 'ankita', 'angel', 'rani', 'riya'], dtype=object)

In [8]:
nameList = ["sone","monu","ankita","angel","rani","riya"]
obj= pd.Series(nameList)
print("Given Series:\n", obj)
arr = obj.values
arr

Given Series:
 0      sone
1      monu
2    ankita
3     angel
4      rani
5      riya
dtype: object

array(['sone', 'monu', 'ankita', 'angel', 'rani', 'riya'], dtype=object)

In [12]:
rshaped_arr = arr.reshape((2,3))
print(rshaped_arr

array([['sone', 'monu', 'ankita'],
       ['angel', 'rani', 'riya']], dtype=object)

In [14]:
import pandas as pd
#dataframe
df = pd.DataFrame({'A': ['mamun', 'gulu', 'saifu'],
'B': ['Masters', 'Masters', 'Phd_React'],
'C': [27, 23, 21]})
df

       A          B   C
0  mamun    Masters  27
1   gulu    Masters  23
2  saifu  Phd_React  21

In [15]:
df.pivot('A', 'B', 'C')

<ipython-input-15-d3da59eff764>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.pivot will be keyword-only.
  df.pivot('A', 'B', 'C')

B      Masters  Phd_React
A
gulu      23.0        NaN
mamun     27.0        NaN
saifu      NaN       21.0

In [16]:
df.pivot(index ='A', columns ='B', values =['C', 'A'])

            C                 A
B     Masters Phd_React Masters Phd_React
A
gulu       23       NaN    gulu       NaN
mamun      27       NaN   mamun       NaN
saifu     NaN        21     NaN     saifu

In [17]:
import pandas as pd

df = pd.DataFrame({'Name': ['Monu', 'Soni', 'Stepni', 'Joe Rogan', 'Emily Clark', 'Tom Holand'],
'Gender': ['Male', 'Female', 'Female',
'Male', 'Female', 'Male'],
'Age': [35, 33, 45, 21, 12, 35]})

print("Dataset\n",df)
#print()
print("-"*40)

# categorizing in age groups
def age_bucket(age):
    if age <= 18:
        return "<18"
    else:
        return ">18"

df['Age Group'] = df['Age'].apply(age_bucket)

# calculating gender percentage

gender = pd.DataFrame(df.Gender.value_counts(normalize=True)*100).reset_index()
gender.columns = ['Gender', '%Gender']

df = pd.merge(left=df, right=gender, how='inner', on=['Gender'])

# creating pivot table
table = pd.pivot_table(df, index=['Gender', '%Gender', 'Age Group'],
values=['Name'], aggfunc={'Name': 'count',})

print("Table")
print(table)

Dataset
           Name  Gender  Age
0         Monu    Male   35
1         Soni  Female   33
2       Stepni  Female   45
3    Joe Rogan    Male   21
4  Emily Clark  Female   12
5   Tom Holand    Male   35
----------------------------------------
Table
                          Name
Gender %Gender Age Group
Female 50.0    <18           1
               >18           2
Male   50.0    >18           3